@media (max-width: 767px) {
    header .main-header .menu {
    display: none;
}

.hero-section .hero-card .hero-box h1 {
    font-size: 26px;
    line-height: 36px;
    margin: 0 0 10px;
}

.hero-section .hero-card .hero-box p {
    font-size: 20px;
    line-height: 28px;
}

.hero-section .hero-card .hero-box a {
    display: block;
    margin: 0 0 10px 0;
}

.hero-section {
    padding: 40px 0;
}

.state-section .state-box {
    /* border-radius: 0px; */
    padding: 40px;
}

.state-section .state-box .state-card {
    margin: 0 0 30px;
}

.section-title h2 {
    font-size: 24px;
    line-height: 34px;
}

.section-title span {
    font-size: 18px;
    margin: 0;
    line-height: 28px;
}

.section-title p {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

.featured-card .featured-link a {
    font-size: 20px;
    line-height: 30px;
}

.featured-section .featured-text p {
    font-size: 20px;
    line-height: 30px;
}

.featured-section .featured-text span {
    font-size: 20px;
    line-height: 30px;
}

.services-section .services-card .services-text p {
    font-size: 18px;
    line-height: 28px;
}

.services-section .services-card {
    column-height: revert-layer;
}

.services-section .services-card .services-text h3 {
    font-size: 22px;
    line-height: 32px;
}

.testimonial-card .testimonial-text p {
    font-size: 20px;
    line-height: 30px;
}

.testimonial-card {
    margin: 0 0 30px;
}

.testimonial-card .testimonial-round span {
    font-size: 20px;
}

.testimonial-card .testimonial-round {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0 0 10px;
}

.testimonial-card .testimonial-text h3 {
    font-size: 16px;
}

.testimonial-card .testimonial-text span {
    font-size: 16px;
}

.footer-section .footer-card p {
    font-size: 18px;
}

.contact-card h4 a {
    display: block;
    margin: 10px 0 0;
}

.contact-card .expertise-list .expertise-line-1 a {
    display: block;
    margin: 0 0 20px;
}

.expertise-section .expertise-list .expertise-line-1 a {display: block;margin: 0 0 20px;}

.about-section {
    padding: 0 0 40px;
}

section {
    padding: 0 0 40px;
}
.state-box .col-md-3.col-xl-3.col-lg-3 {
    width: 50%;
}


.expertise-section .expertise-list .expertise-line-1 a {
    width: 49%;
    display: inline-block;
    font-size: 20px;
}

.contact-card .expertise-list .expertise-line-1 a {
    width: 49%;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
}

.marquee h3{
  font-size: 1em;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 0;
}
}

@media (min-width:767px) and (max-width: 991px) {}

@media (min-width:992px) and (max-width: 1024px) {}

@media (min-width:1025px) and (max-width:1199px) {}

@media (min-width:1200px) and (max-width:1399px) {}

@media (min-width: 1199px) and (max-width: 1420px) {}